@use '@material/drawer';
@use '@material/list';
@use '../common.css';
@include drawer.core-styles;
@include list.core-styles;

#menu-items {
    width: auto;
}
.mdc-list-item {
    height: 30px;
}

.mdc-list-item:hover {
    background-color: beige;
}

#menu-items {
    height: auto;
    border-radius: 0 10px 10px 0;
}
