.page-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    padding: 0;
    border: 0;
    margin: 0;
}

.page-title:hover{
    transform: translate(0, 5px);
    color: chartreuse;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.title-array {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.title-container {
    display: flex;
    align-items: center;
}
