@use './common'

.modal-header
  color: common.$primary-font-color
  font-size: 1rem
  text-align: center

.modal
  font-size: 1rem
  padding: 4px
  border: 4px
  margin: 4px
  text-align: center
  .actions
    margin: auto
  .actions
    width: 100%
    padding: 10px 5px
    text-align: center
  .modal-header
    padding: common.$common-padding
    border: common.$common-border
    margin: common.$common-margin
  .content
    width: 100%
    padding: 10px 5px
    .technology-link
      color: fuchsia

  .header
    width: 100%
    border-bottom: 1px solid gray
    font-size: 18px
    text-align: center
    padding: 5px

.popup-content
  border-radius: 8px
