$common-padding: 8px
$common-border: 8px
$common-margin: 8px
$primary-font-color: darken(chartreuse, 20%)

body
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none

#copyright
  color: fuchsia
  font-family: "Luckiest Guy", cursive
  text-align: center
