$common-padding: 8px
$common-border: 8px
$common-margin: 8px
$primary-font-color: darken(chartreuse, 20%)
$primary: #263413
$secondary: #1f290f

body
  background-color: #222222
  background: repeating-linear-gradient(45deg, $primary 0%, $primary 10%, $secondary 0%, $secondary 50%) 0 / 15px 15px

#copyright
  text-align: center
  color: $primary-font-color

.chinese
  font-family: 'ZCool Kuaile'

.english
  font-family: 'Luckiest Guy', cursive

.russian
  font-family: 'Neucha'
