@use './common'

a
  text-decoration: none

.code, .welcome, .weather
  color: white

#heading
  font-family: 'Luckiest Guy', cursive
  font-size: 3vw

.nav-item
  cursor: pointer

#nav-items
  display: flex
  justify-content: space-around

@media(max-width: 800px)
  #nav-items
    display: grid
    place-items: center
    .nav-item
      align-self: center
      text-align: center
    #nav-items__weather
        grid-column: 1
        grid-row: 1 / span 2
        transform: rotate(-5deg)
    #nav-items__welcome
        grid-column: 2
        grid-row: 1
    #nav-items__code
        grid-column: 2
        grid-row: 2
    #nav-items__language
        grid-column: 3
        grid-row: 1 / span 2
        display: grid
        grid-template-rows: repeat(3, auto)
        grid-template-columns: repeat(3, auto)
        #rus
          grid-row: 1
          grid-column: 1
          padding: 0 5px 0 5px
        #en
          grid-row: 2
          grid-column: 2
          padding: 0 5px 0 5px
        #ch
          grid-row: 3
          grid-column: 3
          padding: 0 5px 0 5px
.title-array
  font-size: 2rem
  margin:  common.$common-margin
  padding: common.$common-padding
  border:  common.$common-border
