@use './common'

a
  text-decoration: none

#heading
  font-family: "Fredoka One"
  font-size: 2rem

.nav-item
  cursor: pointer
  :hover
    color: fuchsia

#nav-items
  display: flex
  justify-content: space-around

@media(max-width: 800px)
  #nav-items
    display: flex
    flex-direction: column
    align-items: center

.title-array
  font-size: 2rem
  margin:  common.$common-margin
  padding: common.$common-padding
  border:  common.$common-border
