@use './common'

$title-transition: 1s

.title-letter,
.title-letter-up
  font-family: 'Luckiest Guy', cursive
  font-size: 2em
  padding: 0
  border: 0
  margin: 0
  transition: $title-transition

.title-letter:hover,
.title-letter-up:hover
  color: common.$primary-font-color
  transition: $title-transition

.title-letter:hover
  transform: translate(0, 10px)

.title-letter-up:hover
  transform: translate(0px, -10px)
  transition: $title-transition

.title-container
  display: flex
  flex-direction: row
  justify-content: center
  margin-top: 15px
  font-size: 1rem

.title-array
  display: flex
  flex-direction: row

