$colors: (
    primary: #005DFF,
    primary-light: lighten(#005DFF, 50%),
    primary-dark: darken(#005DFF, 40%),
    accent: #FFF6BB,
    footer: chartreuse
);

$fonts: (
    heading: 'Fredoka One',
    caption: 'Indie Flower'
    // font-family: 'Indie Flower', cursive;
    // font-family: 'Luckiest Guy', cursive;
    // font-family: 'Fredoka One', cursive;
);

$padding: 15px;
$borders: 15px;

@function color($color-name){
    @return map-get($colors, $color-name);
}

@function font($font-name){
    @return map-get($fonts, $font-name);
}

h1 {
    color: color(primary);
    font-family: font(heading);
}

section {

    ul {

        li {
            list-style: none;

            img {

            }

            .caption {
                color: color(primary);
            }
        }
    }
}
p {
    font-family: font(caption);
}

footer {
    color: color(footer);
}