$colors: (
    primary: #005DFF,
    primary-light: lighten(#005DFF, 50%),
    primary-dark: darken(#005DFF, 40%),
    accent: #FFF6BB,
    footer: chartreuse
);

$fonts: (
    heading: 'Fredoka One',
    caption: 'Indie Flower'
    // font-family: 'Indie Flower', cursive;
    // font-family: 'Luckiest Guy', cursive;
    // font-family: 'Fredoka One', cursive;
);

$padding-distance: 15px;
$border-distance: 15px;
$margin-distance: 15px;

@function color($color-name){
    @return map-get($colors, $color-name);
}

@function font($font-name){
    @return map-get($fonts, $font-name);
}

body {
    background-color: black;
    margin: $margin-distance;
    padding: $padding-distance;
    text-align: center;
}

h1 {
    color: color(primary);
    font-family: font(heading);
}

section {

    ul {
        padding: 0 0 0 0;
        li {
            list-style: none;

            #image-wrapper {
                height: 50rem;
                width: 50rem;

                img {
                    height: 48rem;
                    width: 48rem;
                }

            }
            .caption {
                color: color(primary);

                height: 100%;
                overflow-wrap: break-word;
                width: 72%;
                
                padding: $padding-distance;
                border: $border-distance;
                margin: 0 auto;
            }
        }
    }
}

p {
    font-family: font(caption);
}

footer {
    color: color(footer);
}