[draggable] {
    position: absolute;
  }
  
  .ui-drag {
    cursor: grab;
  }
  
  .ui-dragging .ui-drag,
  .ui-drag.ui-dragging {
    cursor: grabbing;
  }
  
  .ui-dragging {
    user-select: none;
    will-change: transform;
    -webkit-touch-callout: none;
    z-index: 2147483500;
  }

  