:root {
  --paboma: 5px;
}

.modal-header {
  color: var(--woob-green);
  text-align: center;
  margin-bottom: calc(2 * var(--paboma));
}

.modal {
  padding: var(--paboma);
  border: var(--paboma);
  margin: var(--paboma);
  text-align: center;
}

.popup-content {
  border-radius: var(--paboma);
}

@media only screen and (min-width: 840px) {
  .modal {
    font-size: 20px;
  }
}
